<a href="https://colab.research.google.com/github/JulianBargo/58003-OOP/blob/main/Loop_Statementipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [1]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Nested For Loop

In [2]:
adjective = ["Big","tasty","juicy"]
fruits = ["Banana","apple","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

Big Banana
Big apple
Big cherry
tasty Banana
tasty apple
tasty cherry
juicy Banana
juicy apple
juicy cherry

Break Statement in For Loop

In [24]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":continue
  break
  print(x)

Print only thurday using break statement in for loop

In [33]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping Through String

In [36]:
for x in "Philippines":
  print(x)

P
h
i
l
i
p
p
i
n
e
s

While loop

In [39]:
i = 1
while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

While Loop using Break statement

In [43]:
i = 1
while i<=6:
  if i == 4:              #to display only 4
    print(i)
    break
  i+=1

4

Create a Python Program that displays Hello 1 - Hello 10
Application 1

In [46]:
i = 0
while i<=10:
  print("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [67]:
i = 3
while i<=10:
  if i>10:  
    break           
  print(i)
  i+=1

3
4
5
6
7
8
9
10